.themes {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }

  .logoparagraph {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
  }


  #logo{
      height:150px;
  }

  #IG{
    
  }

  #check-mark{
    order: <2>;
  }

 body {
     background-color: #FAFAFA;
     
  }

  ul {
      display: flex;
      justify-content: space-evenly;
      
      
      
  }