.themes {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }

  .logoparagraph {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
  }


  #logo{
      height:150px;
  }

  #IG{
    
  }

  #check-mark{
    order: <2>;
  }

 body {
     background-color: #FAFAFA;
     
  }

  ul {
      display: flex;
      justify-content: space-evenly;
      
      
      
  }

.first-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 75%;
  
}
.ig-check{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#check-mark{
  height: 20px;
}

.follow-dot{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}

.row-two{
  display: flex;
  justify-content: flex-end;
  width: 75%
  
  
}

.mainLogo{
  display: flex;
  width: 75%;
  justify-content: center;
  
  
}